.infoBox{
    flex:1;
    cursor:pointer;
   }


.infoBox__covid{
    color:red !important;
    margin-bottom:5px !important;
}

.infoBox__recup{
    color: #8acb26 !important;
    margin-bottom:5px !important;
}

.infoBox__fall{
    color:dimgray !important;
    margin-bottom:5px !important;
}



.infoBox:not(:last-child){
    margin-right: 10px;
}

.infoBox--selected--verde{
    border-bottom: 10px solid #8acb26;
}
.infoBox--selected--rojo{
    border-bottom: 10px solid red;
}
.infoBox--selected--negro{
    border-bottom: 10px solid dimgray;
}

.infoBox__cases{
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    }



.infoBox__total{
    color: #4a4a4a;
    font-weight: bold !important;
    font-size: 0.9rem !important;
    margin-top: 15px !important;
}


@media (max-width: 801px){
    .infoBox__cases{
        font-size: 0.8rem;
    }
    .infoBox__total{
        font-size: 0.7rem !important;
    }

    .infoBox__covid{
        font-size:0.8rem !important;
    }

    .infoBox__recup{
        font-size:0.8rem !important;
    }

    .infoBox__fall{
        font-size:0.8rem !important;
    }

}

@media (max-width: 501px){
    .infoBox__cases{
        font-size: 0.8rem;
    }
    .infoBox__total{
        font-size: 0.7rem !important;
    }

    .infoBox__covid{

        font-size:0.7rem !important;
    }

    .infoBox__recup{
        font-size:0.7rem !important;
    }

    .infoBox__fall{
        font-size:0.7rem !important;
    }

}